In [1]:
import pandas as pd

In [2]:
# 读取CSV文件
df = pd.read_csv('/media/ssd4t/misaki/Paris-City-Brain-Traffic-Flow-Forecasting/data/loop_sensor_train.csv')

In [11]:
# 过滤出iu_ac为5且t_1h在2022-01-01到2022-12-31之间的数据
filtered_df = df[(df['iu_ac'] == 5) & (df['t_1h'] >= '2022-01-01') & (df['t_1h'] <= '2022-12-31')]
filtered_df.tail()

          iu_ac                 t_1h  etat_barre       q
22468145      5  2022-12-20 19:00:00           3  1537.0
22468146      5  2022-12-20 20:00:00           3  1541.0
22468147      5  2022-12-20 21:00:00           3  1656.0
22468148      5  2022-12-20 22:00:00           3  1472.0
22468149      5  2022-12-20 23:00:00           3  1373.0

In [4]:
filtered_df.shape

(7752, 4)

In [5]:
import os
if not os.path.exists('data'):
    os.mkdir('data')

In [6]:
# 保存为新的CSV文件2022-12-31之间的数据
filtered_df.to_csv('./data/5_2022_1_2022_12.csv', index=False)

In [13]:
filtered_df_1 = df[(df['iu_ac'] == 5) & (df['t_1h'] >= '2022-01-01') & (df['t_1h'] <= '2022-01-31')]
filtered_df_1.shape

(716, 4)

In [14]:
filtered_df_1.to_csv('./data/5_2022_1.csv', index=False)

In [15]:
filtered_df_2 = df[(df['iu_ac'] == 5) & (df['t_1h'] >= '2022-02-01') & (df['t_1h'] <= '2022-02-28')]
filtered_df_2.shape

(643, 4)

In [16]:
filtered_df_2.to_csv('./data/5_2022_2.csv', index=False)