In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/loop_sensor_test_x_with_q_12.csv')

In [3]:
df.shape

(439298, 16)

In [4]:
df.head()

,id,iu_ac,t_1h,etat_barre,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12
0,1,5,2023-01-02 00:00:00,3,1419.0,1456.0,1392.0,1413.0,1379.0,1488.0,1552.0,1493.0,1505.0,1310.0,1288.0,1184.0
1,2,5,2023-01-03 05:00:00,3,1603.0,1815.0,1727.0,1451.0,1341.0,1302.0,1164.0,940.0,622.0,349.0,259.0,273.0
2,3,5,2023-01-04 10:00:00,3,1304.0,1144.0,866.0,622.0,399.0,275.0,248.0,385.0,811.0,1303.0,1542.0,1495.0
3,4,5,2023-01-05 15:00:00,3,379.0,328.0,500.0,929.0,1383.0,1651.0,1804.0,1675.0,1744.0,1761.0,1800.0,1612.0
4,5,5,2023-01-06 20:00:00,3,1622.0,1688.0,1648.0,1646.0,1612.0,1700.0,1792.0,1513.0,1722.0,1842.0,1924.0,1948.0

In [6]:
filtered_df = df[(df['iu_ac'] == 5)]
filtered_df.shape

(304, 16)

In [2]:
# 读取CSV文件
df = pd.read_csv('/media/ssd4t/misaki/Paris-City-Brain-Traffic-Flow-Forecasting/data/loop_sensor_train.csv')

In [11]:
# 过滤出iu_ac为5且t_1h在2022-01-01到2022-12-31之间的数据
filtered_df = df[(df['iu_ac'] == 5) & (df['t_1h'] >= '2022-01-01') & (df['t_1h'] <= '2022-12-31')]
filtered_df.tail()

          iu_ac                 t_1h  etat_barre       q
22468145      5  2022-12-20 19:00:00           3  1537.0
22468146      5  2022-12-20 20:00:00           3  1541.0
22468147      5  2022-12-20 21:00:00           3  1656.0
22468148      5  2022-12-20 22:00:00           3  1472.0
22468149      5  2022-12-20 23:00:00           3  1373.0

In [4]:
filtered_df.shape

(7752, 4)

In [ ]:
df = pd.read_csv('./data/loop_sensor_test_x_with_q_12.csv')

# 将 t_1h 列转换为日期时间格式
df['t_1h'] = pd.to_datetime(df['t_1h'])
# 初始化一个空的列表来存储展平的数据
flattened_data = []

# 遍历每一行数据
for index, row in df.iterrows():
    # 依次读取q1到q12，并展开为12条数据
    for i in range(1, 13):
        flattened_data.append({
            'id': row['id'],
            'iu_ac': row['iu_ac'],
            't_1h': row['t_1h'] - pd.Timedelta(hours=13-i),
            'etat_barre': row['etat_barre'],
            'q': row[f'q{i}']
        })

# 将展平的数据转换为DataFrame
flatten_df = pd.DataFrame(flattened_data)

# 保存为新的CSV文件
flatten_df.to_csv('./data/flattened_loop_sensor_test_12h.csv', index=False)

# 打印展平后的数据框
print(flatten_df.head(13))

In [5]:
import os
if not os.path.exists('data'):
    os.mkdir('data')

In [6]:
# 保存为新的CSV文件2022-12-31之间的数据
filtered_df.to_csv('./data/5_2022_1_2022_12.csv', index=False)

In [13]:
filtered_df_1 = df[(df['iu_ac'] == 5) & (df['t_1h'] >= '2022-01-01') & (df['t_1h'] <= '2022-01-31')]
filtered_df_1.shape

(716, 4)

In [14]:
filtered_df_1.to_csv('./data/5_2022_1.csv', index=False)

In [15]:
filtered_df_2 = df[(df['iu_ac'] == 5) & (df['t_1h'] >= '2022-02-01') & (df['t_1h'] <= '2022-02-28')]
filtered_df_2.shape

(643, 4)

In [16]:
filtered_df_2.to_csv('./data/5_2022_2.csv', index=False)