In [1]:
import pandas as pd

In [4]:
file_1 = '/media/ssd4t/misaki/Paris-City-Brain-Traffic-Flow-Forecasting/TimeGPT/data/forecasts_1_2000.csv'
file_2 = '/media/ssd4t/misaki/Paris-City-Brain-Traffic-Flow-Forecasting/TimeGPT/data/forecasts_2001_3000.csv'
file_3 = '/media/ssd4t/misaki/Paris-City-Brain-Traffic-Flow-Forecasting/TimeGPT/data/forecasts_3001_4000.csv'
file_4 = '/media/ssd4t/misaki/Paris-City-Brain-Traffic-Flow-Forecasting/TimeGPT/data/forecasts_4001_5000.csv'
file_merged = '/media/ssd4t/misaki/Paris-City-Brain-Traffic-Flow-Forecasting/TimeGPT/data/forecasts_1_5000.csv'

df_1 = pd.read_csv(file_1)
df_2 = pd.read_csv(file_2)
df_3 = pd.read_csv(file_3)
df_4 = pd.read_csv(file_4)

In [5]:
# Concatenate the DataFrames
df_merged = pd.concat([df_1, df_2,
                       df_3, df_4
                       ], ignore_index=True)
print(df_merged.shape)
# Save the merged DataFrame to a new CSV file
df_merged.to_csv(file_merged, index=False)

print(f"Merged DataFrame has been saved to '{file_merged}'.")

(5000, 3)
Merged DataFrame has been saved to '/media/ssd4t/misaki/Paris-City-Brain-Traffic-Flow-Forecasting/TimeGPT/data/forecasts_1_5000.csv'.

In [10]:
df_merged.shape

(2000, 3)

In [11]:
df_merged.head()

   id                 t_1h      TimeGPT
0   1           2023-01-02  1195.937866
1   2  2023-01-03 05:00:00   229.137558
2   3  2023-01-04 10:00:00  1469.908813
3   4  2023-01-05 15:00:00  1489.043457
4   5  2023-01-06 20:00:00  1894.736206

In [3]:
file_to_sort = '/media/ssd4t/misaki/Paris-City-Brain-Traffic-Flow-Forecasting/TimeGPT/data/forecasts_2001_3000.csv'
df_sort = pd.read_csv(file_to_sort)
df_sort.iloc[-30:, df_sort.columns.get_loc('id')] = range(2971, 2971 + 30)
df_sort.to_csv(file_to_sort, index=False)

In [9]:
file_to_sort = '/media/ssd4t/misaki/Paris-City-Brain-Traffic-Flow-Forecasting/TimeGPT/data/forecasts_4001_5000.csv'
start = 4001
df_sort = pd.read_csv(file_to_sort)
# Drop the original 'id' column if it exists
if 'id' in df_sort.columns:
    df_sort.drop(columns=['id'], inplace=True)

# Reset the index and update it to start from 2001
df_sort.reset_index(drop=True, inplace=True)
df_sort.index += start
# Save the updated DataFrame back to a CSV file
df_sort.to_csv(file_to_sort, index=True, index_label='id')

print("File has been updated with new ids.")

File has been updated with new ids starting from 2001.

In [7]:
df_sort.drop(columns=['id.2'], inplace=True)
df_sort.to_csv(file_to_sort, index=True, index_label='id')

In [6]:
filtered_df = df[(df['iu_ac'] == 5)]
filtered_df.shape

(304, 16)

In [2]:
# 读取CSV文件
df = pd.read_csv('/media/ssd4t/misaki/Paris-City-Brain-Traffic-Flow-Forecasting/data/loop_sensor_train.csv')

In [11]:
# 过滤出iu_ac为5且t_1h在2022-01-01到2022-12-31之间的数据
filtered_df = df[(df['iu_ac'] == 5) & (df['t_1h'] >= '2022-01-01') & (df['t_1h'] <= '2022-12-31')]
filtered_df.tail()

          iu_ac                 t_1h  etat_barre       q
22468145      5  2022-12-20 19:00:00           3  1537.0
22468146      5  2022-12-20 20:00:00           3  1541.0
22468147      5  2022-12-20 21:00:00           3  1656.0
22468148      5  2022-12-20 22:00:00           3  1472.0
22468149      5  2022-12-20 23:00:00           3  1373.0

In [4]:
filtered_df.shape

(7752, 4)

In [ ]:
df = pd.read_csv('./data/loop_sensor_test_x_with_q_12.csv')

# 将 t_1h 列转换为日期时间格式
df['t_1h'] = pd.to_datetime(df['t_1h'])
# 初始化一个空的列表来存储展平的数据
flattened_data = []

# 遍历每一行数据
for index, row in df.iterrows():
    # 依次读取q1到q12，并展开为12条数据
    for i in range(1, 13):
        flattened_data.append({
            'id': row['id'],
            'iu_ac': row['iu_ac'],
            't_1h': row['t_1h'] - pd.Timedelta(hours=13-i),
            'etat_barre': row['etat_barre'],
            'q': row[f'q{i}']
        })

# 将展平的数据转换为DataFrame
flatten_df = pd.DataFrame(flattened_data)

# 保存为新的CSV文件
flatten_df.to_csv('./data/flattened_loop_sensor_test_12h.csv', index=False)

# 打印展平后的数据框
print(flatten_df.head(13))

In [5]:
import os
if not os.path.exists('data'):
    os.mkdir('data')

In [6]:
# 保存为新的CSV文件2022-12-31之间的数据
filtered_df.to_csv('./data/5_2022_1_2022_12.csv', index=False)

In [13]:
filtered_df_1 = df[(df['iu_ac'] == 5) & (df['t_1h'] >= '2022-01-01') & (df['t_1h'] <= '2022-01-31')]
filtered_df_1.shape

(716, 4)

In [14]:
filtered_df_1.to_csv('./data/5_2022_1.csv', index=False)

In [15]:
filtered_df_2 = df[(df['iu_ac'] == 5) & (df['t_1h'] >= '2022-02-01') & (df['t_1h'] <= '2022-02-28')]
filtered_df_2.shape

(643, 4)

In [16]:
filtered_df_2.to_csv('./data/5_2022_2.csv', index=False)